
<div class="modal fade" id="modalDeleteBobine">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Êtes-vous sûr de vouloir supprimer cette bobine?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="contentBobineResult">
            </div>
        </div>
    </div>
</div>

