@model Tourax.Models.BobineModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifier bobine</h1>
<hr />

<form asp-action="Edit" id="formEditBob">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdBobine" />
    <div class="form-group">
        <label asp-for="Reference" class="control-label"></label>
        <input asp-for="Reference" type="text" class="form-control textField"/>
        <span asp-validation-for="Reference" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nom" class="control-label"></label>
        <input asp-for="Nom" type="text" class="form-control textField"/>
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdMatiere" class="control-label"></label>
        <select asp-for="IdMatiere" class="form-control" asp-items="ViewBag.IdMatiere"></select>
        <span asp-validation-for="IdMatiere" class="text-danger"></span>
    </div>
    <div class="row my-5">
        <div class="col-lg-6 col-md-12 schema">
            <div class="form-group">
                <input asp-for="LargeurExt" type="number" class="form-control" id="largeurExt" placeholder="Largeur ext"/>
                <span asp-validation-for="LargeurExt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="LargeurInt" type="number" class="form-control" id="largeurInt" placeholder="Largeur int" />
                <span asp-validation-for="LargeurInt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="DiametreExt" type="number" class="form-control" id="diametreExt" placeholder="Diamètre ext" />
                <span asp-validation-for="DiametreExt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="DiametreInt" type="number" class="form-control" id="diametreInt" placeholder="Diamètre int" />
                <span asp-validation-for="DiametreInt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Moyeu" type="number" class="form-control" id="moyeu" placeholder="Moyeu" />
                <span asp-validation-for="Moyeu" class="text-danger"></span>
            </div>
            <img src="~/img/bobineSchema.svg" alt="Schéma bobine dimension" />
        </div>
        <div class="col-lg-6 col-md-12 pl-lg-5">
            <div class="form-group row">
                <div class="col-6 pl-lg-3">
                    <label>Technique d'enroulement</label>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" asp-for="Trancanage" id="techTranca" />
                        <label class="custom-control-label" for="techTranca">Trancanage</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" asp-for="Enroulement" id="techEnroule" />
                        <label class="custom-control-label" for="techEnroule">Enroulement sur lui-même</label>
                    </div>
                </div>
                <div class="col-6">
                    <label>Consigne</label>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                        <label class="custom-control-label" for="customSwitch1"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PoidsAVide" class="control-label"></label>
                <input asp-for="PoidsAVide" type="number" class="form-control"/>
                <span asp-validation-for="PoidsAVide" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoidsMaxAutorise" class="control-label"></label>
                <input asp-for="PoidsMaxAutorise" type="number" class="form-control"/>
                <span asp-validation-for="PoidsMaxAutorise" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <a asp-action="Index">Retour</a>
        <input type="submit" value="Modifier" class="btn btn-primary ml-2" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
