@{
    ViewData["Title"] = "Home Page";
}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="searchBobTab" data-toggle="tab" href="#formSearchBob" role="tab" aria-controls="formSearchBob" aria-selected="true">Recherche de bobine</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="capaciteBobTab" data-toggle="tab" href="#formCapaciteBob" role="tab" aria-controls="formCapaciteBob" aria-selected="false">Capacité bobine</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="simuParDimBobTab" data-toggle="tab" href="#formSimuParDimBob" role="tab" aria-controls="formSimuParDimBob" aria-selected="false">Par dimensions bobine</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="formSearchBob" role="tabpanel" aria-labelledby="searchBobTab">
        <div class="formSimulator">
            <partial name="Form/_FormRechercheBobPartial" />
        </div>
        <div id="resultSimulationRecherche">
            <table id="tableResultBob" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Référence</th>
                        <th>Nom</th>
                        <th>Longueur max</th>
                        <th>Nb couches</th>
                        <th>Nb spires</th>
                        <th>Poids brute</th>
                        <th>Poids net</th>
                        <th>Nb bobines</th>
                        @*<th>Stock disponible</th>
                        <th>Prix unitaire</th>*@
                        <th>Port de charge</th>
                        <th>Récapitulatif</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="formCapaciteBob" role="tabpanel" aria-labelledby="capaciteBobTab">
        <div class="formSimulator">
            <partial name="Form/_FormCapaciteBobPartial" />
        </div>
        <div id="resultSimulationCapacite"></div>
    </div>
    <div class="tab-pane fade" id="formSimuParDimBob" role="tabpanel" aria-labelledby="simuParDimBobTab">
        <div class="formSimulator">
            <partial name="Form/_FormDimensionBobPartial" />
        </div>
        <div id="resultSimulationDimensionBob"></div>
    </div>
</div>

